.estilo{
	background-color: #283593;
	text-align: center;
	color: white;
}

.estilo2{
	background-color: #FFFF00;
	text-align: center;
	color: black;
}

.imagem{
	width: 240px;
	height: 240px;
	padding-left: 40%
	position: relative;

}

