<head>
	<link rel="stylesheet" type="text/css" href="../css/parte2.css">
	<link rel="stylesheet" type="text/css" href="../index.html">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body class="estilo" background="http://www.profcardy.com/cardicas/i/binario.jpg">>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Meu sitenho</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../index.html">Home</a></li>
      <li><a href="#">Mate a maldição</a></li>
    </ul>
  </div>
</nav>

	<ul class="estilo">

		<li><h1>Hello world!!</h1></li>
		<li><h2>Olá Mundo!!</h2></li>
		<li><h3>Hola Mundo!!</h3></li>
		<li><h4>Bonjour le Monde!!</h4></li>
		<li><h5>Hallo Weh!!</h5></li>
		<li><h6>olá mundo em outra língua</h6></li>
	</ul>
	<div class="estilo2">	
		<p>Digite aqui motivos para amar o mundo!! Salve-se da maldição</p>
		<textarea>Digite, é sério!</textarea>
		<br>
		<button onclick="alert('olá')">Salve-se</button>
	</div>	

	<img src="../imgs/ola-mundo-800x445.png" class="imagem">
</body>